$animationBorderColor: #2980b9;

#form__upload_section {
  display: inline-flex;
  flex-flow: column wrap;
  
  button {
    background: transparent;
    border: none;
    font-weight: 300;
    line-height: 5rem;
    margin-top: 1rem;
    padding: 0;
    position: relative;
    
    &:before, &:after {
      background: $animationBorderColor;
      content: '';
      position: absolute;
      right: 0;
      transition: all 0.3s ease;
      top: 0;
    }
    
    &:active {
      color: #3498db;
    }
    
    &:focus {
      outline: none;
    }
    
    &:before {
      height: 50%;
      width: 2px;
    }
    
    &:after {
      height: 2px;
      width: 20%;
    }
    
    &:hover {
      color: #2c3e50;
    }
    
    &:hover:before {
      height: 100%;
    }
    
    &:hover:after {
      width: 100%;
    }
    
    span {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      
      &:before, &:after {
        background: $animationBorderColor;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        transition: all 0.3s ease;
      }
      
      &:before {
        height: 50%;
        width: 2px;
      }
      
      &:after {
        height: 2px;
        width: 20%;
      }
      
      &:hover:before {
        height: 100%;
      }
      
      &:hover:after {
        width: 100%;
      }
    }

  }
  
}
