#file__upload_toGraphs_btn {
    background-color: #F3F3F3;
    border-radius: 6px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
    height: 13rem;
    left: 50%;
    margin-left: -12rem;
    margin-top: -11rem;
    position: absolute;
    top: 50%;
    width: 25rem;
                 
    div.file__upload_toGraphs_btn_text {
      padding-top: 1rem;
    }
    
    div.file__upload_toGraphs_btn_bottom {
      bottom: 0;
      display: flex;
      position: absolute;
      width: 100%;
      
      div {
        background-color: #373942;
        border-bottom-left-radius: 6px;
        flex: 2;
        height: 3rem;
        width: 100%;
      }
      
      a {
        align-items: center;
        border-bottom-right-radius: 6px;
        background-color: #6cb5f3;
        color: #fff;
        display: flex;
        flex: 1;
        font-weight: 600;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
}

