$positionFromEdge: 3rem;
$positionFromTop: 4rem;
$width: 30rem;

#form__upload_div {
  cursor: default;
  
  .dropzone {
    position: relative;
  }
  
  #form__upload_help {
    margin-right: 3rem;
    margin-top: 1rem;
    position: absolute;
    right: 0;
  }
  
  h2, p {
    user-select: none;
  }

  svg:hover {
    fill: #d35400;
  }

  aside div h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
  }

  aside div:first-child {
    float: left;
    left: $positionFromEdge;
    position: absolute;
    top: $positionFromTop;
    width: $width;
  }
  
  aside div:last-child {
    float: right;
    position: absolute;
    right: $positionFromEdge;
    top: $positionFromTop;
    width: $width;
  }

  aside div:first-child > h2 {
    color: #2980b9;
  }
  
  aside div:last-child > h2 {
    color: #e74c3c;
  } 
  
  .file_upload_item {
    color: #212121;
    line-height: 2;
    list-style: none;
    margin-right: 2rem;
  } 
}

