header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 3rem;
  
  ul {
    list-style: none;
    
    li {
      float: left;
       
      a {
        border-bottom: 1px solid #eee;
        color: #999;
        padding: 1rem 2.5rem;
        text-decoration: none;
        transition: all ease .5s;
      }
      
      &:hover a {
        border-color: #E74C3C;
        color: #E74C3C;
        opacity: 1;
      }
    }
    
    &:hover > li a {
      opacity: .5;
      transition: all ease .5s;
    }
  }
}
