::-webkit-scrollbar {
	width: 5px;
	background: #ecf0f1;
}

::-webkit-scrollbar-thumb {
    background: #bdc3c7;
    -webkit-border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: #ecf0f1; 
}
