<div class="modal" id="modal-gravimetry-load" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Load Data</h2>
      <a href="#" class="btn-close" aria-hidden="true">x</a>
    </div>
    <div class="modal-body">
      <p>To be implemented.</p>
    </div>
    <div class="modal-footer">
      <form id="grav_form" method="post" action="/gravimetry/upload" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" class="btn" value="Upload">
      </form>
    </div>
  </div>
</div>

