@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://fonts.googleapis.com/css?family=Lato:300,500);
html, body, * {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

html, body {
  background: #fff;
  text-align: center; }

h2 {
  font-size: 1.5rem;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0; }

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #5f6982; }
#form__upload_div {
  cursor: default; }
  #form__upload_div h2, #form__upload_div p {
    user-select: none; }
  #form__upload_div svg:hover {
    fill: #d35400; }
  #form__upload_div aside div h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.5rem; }
  #form__upload_div aside div:first-child {
    float: left;
    left: 3rem;
    position: absolute;
    top: 4rem;
    width: 30rem; }
  #form__upload_div aside div:last-child {
    float: right;
    position: absolute;
    right: 3rem;
    top: 4rem;
    width: 30rem; }
  #form__upload_div aside div:first-child > h2 {
    color: #2980b9; }
  #form__upload_div aside div:last-child > h2 {
    color: #e74c3c; }
#form__upload_section {
  display: inline-flex;
  flex-flow: column wrap; }
  #form__upload_section button {
    background: transparent;
    border: none;
    font-weight: 300;
    line-height: 5rem;
    margin-top: 1rem;
    padding: 0;
    position: relative; }
    #form__upload_section button:before, #form__upload_section button:after {
      background: #2980b9;
      content: '';
      position: absolute;
      right: 0;
      transition: all 0.3s ease;
      top: 0; }
    #form__upload_section button:active {
      color: #3498db; }
    #form__upload_section button:focus {
      outline: none; }
    #form__upload_section button:before {
      height: 50%;
      width: 2px; }
    #form__upload_section button:after {
      height: 2px;
      width: 20%; }
    #form__upload_section button:hover {
      color: #2c3e50; }
    #form__upload_section button:hover:before {
      height: 100%; }
    #form__upload_section button:hover:after {
      width: 100%; }
    #form__upload_section button span {
      display: block;
      position: relative;
      height: 100%;
      width: 100%; }
      #form__upload_section button span:before, #form__upload_section button span:after {
        background: #2980b9;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        transition: all 0.3s ease; }
      #form__upload_section button span:before {
        height: 50%;
        width: 2px; }
      #form__upload_section button span:after {
        height: 2px;
        width: 20%; }
      #form__upload_section button span:hover:before {
        height: 100%; }
      #form__upload_section button span:hover:after {
        width: 100%; }
header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 3rem; }
  header ul {
    list-style: none; }
    header ul li {
      float: left; }
      header ul li a {
        border-bottom: 1px solid #eee;
        color: #999;
        padding: 1rem 2.5rem;
        text-decoration: none;
        transition: all ease .5s; }
      header ul li:hover a {
        border-color: #E74C3C;
        color: #E74C3C;
        opacity: 1; }
    header ul:hover > li a {
      opacity: .5;
      transition: all ease .5s; }
::-webkit-scrollbar {
  width: 5px;
  background: #ecf0f1; }

::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  -webkit-border-radius: 1rem; }

::-webkit-scrollbar-track {
  background: #ecf0f1; }
