{% extends "base.html" %}

{% block content %}
  <main id="gravimetry_graphs_container" class="grav_graph">
    <div class="gravimetry_graph_control">
        <h3>Parameters</h3>
	<div class="axis-params">
	    <h4>Axis</h4>
	    <div class="graph_axis_container">
	        <div class="graph_param">
	          <label for="x-axis">X</label>
		  <select id="x-axis-param" name="x-axis">
		      {% for opt in xopts %}
		      <option value="{{ opt[0] }}">{{ opt[1] }}</option>
		      {% endfor %}
		  </select> 	
	        </div>
	      <div class="graph_param">
		  <label for="y-axis">Y</label>
	          <select id="y-axis-param" name="y-axis">
		      {% for opt in yopts %}
		      <option value="{{ opt[0] }}">{{ opt[1] }}</option>
		      {% endfor %}
		  </select> 	
	      </div>
	    </div>
	</div>
	<div class="graph-params">
	    <h4>Eye Candy</h4>
	    <div class="graph-candy-container">
	    	<div id="color-picker-container">
		    <label for="color-picker">Line Color</label>
		    <input id="color-picker" type="color">
		</div>
	    </div>
	</div>
	<div id='graph-control-gravimetry' class="graph-control">
	    <h4>Control</h4>
	    <div class="graph-sliders-container">
	        {% for s in residual_anom_control %}
	        <div class='graph-slider'>
		    <label for="{{ s[1] }}">{{ s[0] }}</label><br>
		    <input type="range" min="{{ s[2].min }}" max="{{ s[2].max }}" 
			   value="{{ s[2].default }}" id="{{ s[1] }}-slider" 
			   step="{{ s[2].step }}" oninput="updateSlider(value, this)">
		    <output for="{{ s[1] }}" id="{{ s[1] }}-output">{{ s[2].default }}</output></br>
	        </div>
	        {% endfor %}
	    </div>
	</div>
    </div>
    <div id="gravimetry_graph_root" class="d3_graph svg-container"></div>
  </main>
  <script>
	data = Object.assign({}, JSON.parse(JSON.parse(localStorage.getItem('gravimetry_json'))))
	
	let chart = new Graph({
    		element: document.getElementById('gravimetry_graph_root'),
		originalData: data,
		data: { x: data.stations, y: data.residual_anom },
		xlabel: 'Stations (m)',
		ylabel: 'Residual Anomaly (mGal)'
	});
	
	document.getElementById('color-picker').addEventListener('change', updateLineColor, false)
	setColorPickerValue('color-picker', '#ff0000')

	let xSelectBox = document.getElementById('x-axis-param')
	xSelectBox.value = 'stations'
	xSelectBox.addEventListener('change', updateChartXAxisChange, false)
	
	let ySelectBox = document.getElementById("y-axis-param")
	ySelectBox.value = 'residual_anom'
	ySelectBox.addEventListener('change', updateChartYAxisChange, false)

	let gravimetrySliders = Array.from(document.getElementsByClassName('graph-slider'))

	let updateSlider = (newValue, self) => {
		const sliderId = self.id.split('-')[0]
		const outputSlider = document.getElementById(sliderId + '-output')
		self.value = newValue;
		outputSlider.innerHTML = newValue

		const params = {
			p: gravimetrySliders[0].children[2].value,
			e: gravimetrySliders[1].children[2].value,
			l: gravimetrySliders[2].children[2].value,
			z: gravimetrySliders[3].children[2].value,
			x: gravimetrySliders[4].children[2].value
		}
		
		chart.setResidualAnomalyData(params)
	}
  </script>
{% endblock %}
